<div class="card width-100">
    <div class="card-top">
        <button class="btn btn-secondary-outline">Stationary</button>
        <div class="card-top-value">
            <p class="value">60 Units</p>
        </div>
    </div>
    <div class="card-bottom">
        <p class="card-bottom-header flex-justalign-between-col width-100">
            <b>1.5$/Unit</b>
            <b>EXP: 11 AUG 2027</b>
        </p>
        <h1 class="card-bottom-value">A4 Notebooks</h1>
    </div>
</div>