<div class="main-main-header">
    <div class="main-main-header-left">
        <h2>Add New Stock</h2>
    </div>
    <div class="main-main-header-right">
        <button class="btn btn-secondary btn-svg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                <path
                    d="M11 11.0001L11 2.0005L13 2.00049L13 11.0001L22.0001 10.9999L22.0002 12.9999L13 13.0001L13.0001 22L11.0001 22L11.0001 13.0001L2.00004 13.0003L2 11.0003L11 11.0001Z">
                </path>
            </svg>
        </button>
    </div>
</div>
<div class="main-main-main">
    <div class="main-main-main-center">
        <div class="main-center-btns">
            <!-- <button class="btn btn-secondary center-nav-btn">Recently Added Products</button>
            <button class="btn btn-secondary">All Products</button> -->
            <p class="fw-600">Enter Products</p>
        </div>

        <div class="new-stock-main">
            <div class="round-0 new-stock-main-left shadow-1  single-form-inside">
                <h3>Add Products to Stock</h3>
                <div class="stock-products height-100 max-height-100">
                    <div class="card width-100 mt-1">
                        <div class="card-top justify-start g-1">
                            <button class="btn btn-secondary-outline">Stationary</button>
                            <p class="btn btn-secondary-outline align-self-start fs-normal-1">60 Units</p>
                            <p class="flex-grow-1"></p>

                            <p class="card-bottom-header flex-justalign-between-col">
                                <b>1.5$/Unit</b>
                                <b>EXP: 11 AUG 2027</b>
                            </p>
                        </div>
                        <div class="card-bottom flex-end justify-between">
                            <h1 class="card-bottom-value">A4 Notebooks</h1>
                            <button class="btn btn-secondary btn-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                    fill="currentColor">
                                    <path
                                        d="M11.9997 10.5865L16.9495 5.63672L18.3637 7.05093L13.4139 12.0007L18.3637 16.9504L16.9495 18.3646L11.9997 13.4149L7.04996 18.3646L5.63574 16.9504L10.5855 12.0007L5.63574 7.05093L7.04996 5.63672L11.9997 10.5865Z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <form id="addStockForm" class="height-auto single-form mt-1" method="POST" action="/stock">
                    <div class="card width-100">
                        <div class="card-top">
                            <select class="btn btn-secondary-outline width-100">
                                <option value="1">A4 Pages</option>
                                <option value="2">Wireless Mouse</option>
                            </select>
                            <div class="card-top-value">
                            </div>
                        </div>
                        <div class="card-bottom flex-end width-100 g-1">
                            <label for="QuantityRecieved"><b>Units Recieved</b></label>
                            <input id="QuantityRecieved" name="QuantityRecieved"
                                class="btn btn-secondary btn-svg p-1 fs-1" type="number" min="1" value="1">
                            <button class="btn btn-secondary btn-svg">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"
                                    fill="currentColor">
                                    <path
                                        d="M9.9997 15.1709L19.1921 5.97852L20.6063 7.39273L9.9997 17.9993L3.63574 11.6354L5.04996 10.2212L9.9997 15.1709Z">
                                    </path>
                                </svg>
                            </button>
                        </div>
                    </div>

                    <button id="add_stock" style="visibility: hidden;">Submit</button>
                </form>
                <h4 class="text-align-start p-1">Supplier</h4>
                <select class="input width-100" type="text" name="supplier" id="supplier">
                    <option value="1">Mohsin</option>
                    <option value="2">Hassan</option>
                    <option value="3">Usman</option>
                </select>
            </div>
            <div class="new-stock-main-right">
                <div class="round-0 new-stock-main-right-upper shadow-1 single-form-inside">
                    <h3>Add Categories</h3>
                    <form id="addCategoryForm" class="single-form" method="POST" action="/categories">
                        <input class="width-100" type="text" name="name" id="name" placeholder="Name">
                        <input class="width-100" type="text" name="description" id="description"
                            placeholder="Description">
                        <button class="btn active-asi-btn width-100">Save</button>
                    </form>
                </div>
                <div class="round-0 new-stock-main-right-lower shadow-1 single-form-inside">
                    <h3>Add Products</h3>
                    <form id="addProductForm" class="single-form" method="POST" action="/products">
                        <input class="width-100" type="text" name="name" id="name" placeholder="Name">
                        <!-- <input class="width-100" type="number" min="1" name="quantity" id="quantity"
                            placeholder="Quantity"> -->
                        <input class="width-100" type="number" min="1" name="price" id="price" placeholder="Price">
                        <input class="width-100" type="date" name="expiryDate" id="expiryDate">
                        <select class="width-100" name="categoryId" id="category">
                            <option value="1">Stationary</option>
                            <option value="2">Electronics</option>
                        </select>
                        <button class="btn active-asi-btn width-100">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <label for="add_stock" id="saveStockBtn" class="btn active-asi-btn flex-justalign-center mt-1 fs-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
        </svg>
        Add Stock
    </label>