<div class="main-main-header">
    <div class="main-main-header-left">
        <h2>Add New Stock</h2>
    </div>
    <div class="main-main-header-right">
        <button class="btn btn-secondary btn-svg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                <path
                    d="M11 11.0001L11 2.0005L13 2.00049L13 11.0001L22.0001 10.9999L22.0002 12.9999L13 13.0001L13.0001 22L11.0001 22L11.0001 13.0001L2.00004 13.0003L2 11.0003L11 11.0001Z">
                </path>
            </svg>
        </button>
    </div>
</div>
<div class="main-main-main">
    <div class="main-main-main-center">
        <div class="main-center-btns">
            <!-- <button class="btn btn-secondary center-nav-btn">Recently Added Products</button>
            <button class="btn btn-secondary">All Products</button> -->
            <p class="fw-600">Enter Products</p>
        </div>
       
    </div>

    <button id="saveStockBtn" class="btn active-asi-btn flex-justalign-center mt-1 fs-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
        </svg>
        Add Stock
    </button>