<div class="main-main-header">
    <div class="main-main-header-left">
        <h2>Add New Stock</h2>
    </div>
    <div class="main-main-header-right">
        <button class="btn btn-secondary btn-svg">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" fill="currentColor">
                <path
                    d="M11 11.0001L11 2.0005L13 2.00049L13 11.0001L22.0001 10.9999L22.0002 12.9999L13 13.0001L13.0001 22L11.0001 22L11.0001 13.0001L2.00004 13.0003L2 11.0003L11 11.0001Z">
                </path>
            </svg>
        </button>
    </div>
</div>
<div class="main-main-main">
    <div class="main-main-main-center">
        <div class="main-center-btns">
            <!-- <button class="btn btn-secondary center-nav-btn">Recently Added Products</button>
            <button class="btn btn-secondary">All Products</button> -->
            <p class="fw-600">Enter Products</p>
        </div>
        <form method="post" action="/stock" class="p-1">
            <div class="card">
                <div class="card-top">
                    <button class="btn btn-secondary-outline">Electronics</button>
                    <div class="card-top-value">
                        <p class="value">45 Units</p>
                    </div>
                </div>
                <div class="card-bottom">
                    <p class="card-bottom-header flex-justalign-between-col width-100">
                        <b>80$/Unit</b>
                        <b>EXP: 01 JAN 2028</b>
                    </p>
                    <h1 class="card-bottom-value">Wireless Mouse</h1>
                </div>
            </div>

            <div class="card">
                <div class="card-top">
                    <button class="btn btn-secondary-outline">Grocery</button>
                    <div class="card-top-value">
                        <p class="value">200 Units</p>
                    </div>
                </div>
                <div class="card-bottom">
                    <p class="card-bottom-header flex-justalign-between-col width-100">
                        <b>5$/Unit</b>
                        <b>EXP: 15 NOV 2025</b>
                    </p>
                    <h1 class="card-bottom-value">Olive Oil Bottle</h1>
                </div>
            </div>

            <div class="card">
                <div class="card-top">
                    <button class="btn btn-secondary-outline">Stationary</button>
                    <div class="card-top-value">
                        <p class="value">95 Units</p>
                    </div>
                </div>
                <div class="card-bottom">
                    <p class="card-bottom-header flex-justalign-between-col width-100">
                        <b>3$/Unit</b>
                        <b>EXP: 03 MAR 2031</b>
                    </p>
                    <h1 class="card-bottom-value">Highlighter Pens</h1>
                </div>
            </div>

            <div class="card">
                <div class="card-top">
                    <button class="btn btn-secondary-outline">Cleaning</button>
                    <div class="card-top-value">
                        <p class="value">60 Units</p>
                    </div>
                </div>
                <div class="card-bottom">
                    <p class="card-bottom-header flex-justalign-between-col width-100">
                        <b>8$/Unit</b>
                        <b>EXP: 21 JUL 2026</b>
                    </p>
                    <h1 class="card-bottom-value">Floor Cleaner</h1>
                </div>
            </div>

            <div class="card">
                <div class="card-top">
                    <button class="btn btn-secondary-outline">Pharmacy</button>
                    <div class="card-top-value">
                        <p class="value">180 Units</p>
                    </div>
                </div>
                <div class="card-bottom">
                    <p class="card-bottom-header flex-justalign-between-col width-100">
                        <b>25$/Unit</b>
                        <b>EXP: 09 DEC 2029</b>
                    </p>
                    <h1 class="card-bottom-value">Vitamin C Tablets</h1>
                </div>
            </div>

            <div class="card">
                <div class="card-top">
                    <button class="btn btn-secondary-outline">Stationary</button>
                    <div class="card-top-value">
                        <p class="value">60 Units</p>
                    </div>
                </div>
                <div class="card-bottom">
                    <p class="card-bottom-header flex-justalign-between-col width-100">
                        <b>1.5$/Unit</b>
                        <b>EXP: 11 AUG 2027</b>
                    </p>
                    <h1 class="card-bottom-value">A4 Notebooks</h1>
                </div>
            </div>

            <div class="card">
                <div class="card-top">
                    <button class="btn btn-secondary-outline">Kitchen</button>
                    <div class="card-top-value">
                        <p class="value">37 Units</p>
                    </div>
                </div>
                <div class="card-bottom">
                    <p class="card-bottom-header flex-justalign-between-col width-100">
                        <b>16$/Unit</b>
                        <b>EXP: 30 SEP 2028</b>
                    </p>
                    <h1 class="card-bottom-value">Non-stick Frypan</h1>
                </div>
            </div>

            <div class="card">
                <div class="card-top">
                    <button class="btn btn-secondary-outline">
                        Stationary
                    </button>

                    <div class="card-top-value">
                        <p class="value">120 Units</p>
                    </div>
                </div>
                <div class="card-bottom">
                    <p class="card-bottom-header flex-justalign-between-col width-100">
                        <b>12$/Unit</b>
                        <b>EXP: 12 MARCH 2030 </b>
                    </p>
                    <h1 class="card-bottom-value">
                        Dollar Markers
                    </h1>
                </div>
            </div>
        </form>
    </div>

    <button id="saveStockBtn" class="btn active-asi-btn flex-justalign-center mt-1 fs-1">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path d="M19 11h-6V5h-2v6H5v2h6v6h2v-6h6z"></path>
        </svg>
        Add Stock
    </button>