@keyframes spin {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.loader-container{
    height: 100%;
    width: 100%;


    display: flex;
    align-items: center;
    justify-content: center;

    background-color: white;

    position: absolute;
    z-index: 3;

    border-radius: 10px;
}
.loader{

    animation: spin 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.display-none{
    display: none;
}
.display-block{
    display: block;
}
.display-flex{
    display: flex;
}
.width-100{
    width: 100%;
}
.width-fit{
    width: fit-content;
}
.flex-justalign-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-justalign-center-col{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flex-justalign-between-col{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.flex-justalign-between-row{
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.g-1{
    gap: 10px;
}
.no-border{
    border: none;
}
.fs-1{
    font-size: 1rem;
}
.fs-2{
    font-size: 2rem;
}
.fw-600{
    font-weight: 600;
}
.mt-1{
    margin-top: 10px;
}
.p-1{
    padding: 10px;
}
.p-1-5{
    padding: 15px;
}